/* 
* Phone
* Portrait and Landscape 
*/
@media (max-width: 767.98px) {
  .polaroid-column {
    position: fixed !important;
    bottom: 0 !important;
  }
}

@media (min-width: 767.99px) {
  .polaroid-column {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
